<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin panel</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="row-fluid">
    <div>
        <nav class="navbar navbar-flex fixed-top bg-dark text-light">
            <h3>
                <b>
                    <span
                            data-th-text="${currentUser.email}">
                    </span>
                </b>
                <span> with roles:</span>
                <span
                        data-th-text="${currentUser.roles}">
                </span>
            </h3>
            <form th:action="@{/logout}" method="post">
                <a href="/logout">
                    <h4 class="text-secondary text-right">Logout</h4>
                </a>
            </form>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <br>
        <br>
        <br>
        <br>
        <div class="list-group border-0">
            <a data-toggle="tab" href="#admin" class="list-group-item list-group-item-action border-0">Admin</a>
            <a data-toggle="tab" href="#user" class="list-group-item list-group-item-action border-0">User</a>
        </div>
    </div>
    <div class="col-10">
        <br>
        <br>
        <br>
        <br>
        <h1 class="font-weight-bold">Admin panel</h1>
        <form method="post" action="filter">
            <input type="text" name="filter">
            <button type="submit" class="btn btn-secondary">Find</button>
        </form>
        <div class="tab-content">
            <br>
            <div class="tab-pane container active" id="admin">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#userTable">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container active" id="userTable">
                        <br>
                        <h4>All users</h4>
                        <table class="table table-striped">
                            <thead class="bg-light">
                            <tr class="active">
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr data-th-each="user : ${users}">
                                <td data-th-text="${user.id}"></td>
                                <td data-th-text="${user.firstName}"></td>
                                <td data-th-text="${user.lastName}"></td>
                                <td data-th-text="${user.age}"></td>
                                <td data-th-text="${user.email}"></td>
                                <td>
                                    <div data-th-each="role : ${user.roles}">
                                        <span data-th-text="${role.roleName}"></span>
                                        <br>
                                    </div>
                                </td>
                                <td>
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            th:attr="data-target=${'#modalEdit' + user.getId()}">
                                        Edit
                                    </button>
                                    <!-- The Modal -->
                                    <div class="modal fade" th:id="${'modalEdit' + user.getId()}">
                                        <div class="modal-dialog ">
                                            <div class="modal-content">
                                                <div class="row">
                                                    <div class="col-2"></div>
                                                    <div class="col-8">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit user</h4>
                                                            <button type="button" class="close" data-dismiss="modal">×
                                                            </button>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <form class="form-singin form-horizontal"
                                                              th:action="@{/admin/update/{id}(id=${user.id})}"
                                                              th:object="${user}"
                                                              method="post">
                                                            <div class="modal-body">
                                                                <b><p class="text-center mt-3 mb-0">ID</p></b>
                                                                <input type="text" class="form-control" name="id"
                                                                       th:value="${user.id}" disabled>
                                                                <b><p class="text-center mt-3 mb-0 ">First name</p></b>
                                                                <input type="text" class="form-control" name="firstName"
                                                                       th:value="${user.firstName}">
                                                                <b><p class="text-center mt-3 mb-0">Last name</p></b>
                                                                <input type="text" class="form-control" name="lastName"
                                                                       th:value="${user.lastName}">
                                                                <b><p class="text-center mt-3 mb-0">Age</p></b>
                                                                <input type="number" class="form-control" name="age"
                                                                       th:value="${user.age}">
                                                                <b><p class="text-center mt-3 mb-0">Email</p></b>
                                                                <input type="email" class="form-control" name="email"
                                                                       th:value="${user.email}">
                                                                <b><p class="text-center mt-3 mb-0">Password</p></b>
                                                                <input type="text" class="form-control" name="password">
                                                                <b><p class="text-center mt-3 mb-0">Role</p></b>
                                                                <div class="select" align="center">
                                                                    <select class="form-control" name="role" multiple
                                                                            size="2">
                                                                        <option>ADMIN</option>
                                                                        <option selected>USER</option>
                                                                    </select>
                                                                </div>
                                                                <input type="hidden" name="id" th:value="${user.id}">
                                                                <br>
                                                            </div>
                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button th:action="@{/admin/edit}" type="submit"
                                                                        class="btn btn-info">Edit
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                   <!-- <a th:href="@{/delete/{id}(id=${user.id})}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>-->
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                            th:attr="data-target=${'#modalDelete' + user.getId()}">
                                        Delete
                                    </button>
                                    <!-- The Modal -->
                                    <div class="modal fade" th:id="${'modalDelete' + user.getId()}">
                                        <div class="modal-dialog ">
                                            <div class="modal-content">
                                                <div class="row">
                                                    <div class="col-2"></div>
                                                    <div class="col-8">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Delete user</h4>
                                                            <button type="button" class="close" data-dismiss="modal">×
                                                            </button>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <form class="form-singin form-horizontal"
                                                              th:action="@{/admin/delete/{id}(id=${user.id})}" method="get">

                                                            <div class="modal-body">
                                                                <b><p class="text-center mt-3 mb-0">ID</p></b>
                                                                <input type="text" class="form-control" name="id"
                                                                       th:value="${user.id}" disabled>
                                                                <b><p class="text-center mt-3 mb-0 ">First name</p></b>
                                                                <input type="text" class="form-control" name="firstName"
                                                                       th:value="${user.firstName}" disabled>
                                                                <b><p class="text-center mt-3 mb-0">Last name</p></b>
                                                                <input type="text" class="form-control" name="lastName"
                                                                       th:value="${user.lastName}" disabled>
                                                                <b><p class="text-center mt-3 mb-0">Age</p></b>
                                                                <input type="number" class="form-control" name="age"
                                                                       th:value="${user.age}" disabled>
                                                                <b><p class="text-center mt-3 mb-0">Email</p></b>
                                                                <input type="email" class="form-control" name="email"
                                                                       th:value="${user.email}" disabled>
                                                                <b><p class="text-center mt-3 mb-0">Role</p></b>
                                                                <div class="select" align="center">
                                                                    <select class="form-control" name="role" multiple
                                                                            size="2">
                                                                        <option>ADMIN</option>
                                                                        <option>USER</option>
                                                                    </select>
                                                                </div>
                                                                <input type="hidden" name="id" th:value="${user.id}">
                                                                <br>

                                                            </div>

                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit"
                                                                        class="btn btn-info">Delete
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane container" id="newUser">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div align="center" class="input-group">
                                    <form class="form-signin form-horizontal" th:action="@{/admin/create}"
                                          method="post">
                                        <br>
                                        <h4>Add new user</h4>

                                        <div class="container">
                                            <form method="post">
                                                <fieldset class="form-group">
                                                    <label class="font-weight-bolder text-center">First Name</label>

                                                    <input class="form-control"
                                                           name="firstName"
                                                           placeholder="Enter your first name"
                                                           type="text">

                                                </fieldset>

                                                <fieldset class="form-group">
                                                    <label class="font-weight-bolder">Last Name</label>

                                                    <input class="form-control"
                                                           name="lastName"
                                                           placeholder="Enter your last name"
                                                           type="text">
                                                </fieldset>

                                                <fieldset class="form-group">
                                                    <label class="font-weight-bolder">Age</label>
                                                    <input class="form-control"
                                                           name="age"
                                                           placeholder="Enter your age"
                                                           type="number">
                                                </fieldset>

                                                <fieldset class="form-group">
                                                    <label class="font-weight-bolder">Email</label>

                                                    <input class="form-control"
                                                           name="email"
                                                           placeholder="Enter your email"
                                                           type="email">
                                                </fieldset>

                                                <fieldset class="form-group">
                                                    <label class="font-weight-bolder">Password</label>

                                                    <input class="form-control"
                                                           name="password"
                                                           placeholder="Enter your password"
                                                           type="password">
                                                </fieldset>
                                                <fieldset class="form-group">
                                                    <label class="font-weight-bolder">Role</label>
                                                    <div class="select" style="width:225px;" align="center">
                                                        <select name="role" multiple size="2" style="width: 225px; ">
                                                            <option> ADMIN</option>
                                                            <option selected> USER</option>
                                                        </select>
                                                    </div>
                                                </fieldset>

                                                <button type="submit" class="btn btn-success">Add new user</button>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container" id="user">
                <h1 class="font-weight-bold">User information-page</h1>
                <div class="tab-content">
                    <div class="tab-pane container active">
                        <div>
                            <br>
                            <h4>About user</h4>
                            <table class="table table-striped">
                                <thead class="bg-light">
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td data-th-text="${currentUser.id}"></td>
                                    <td data-th-text="${currentUser.firstName}"></td>
                                    <td data-th-text="${currentUser.lastName}"></td>
                                    <td data-th-text="${currentUser.age}"></td>
                                    <td data-th-text="${currentUser.email}"></td>
                                    <td>
                                        <div data-th-each="role : ${currentUser.roles}">
                                            <span data-th-text="${role.roleName}"></span>
                                            <br>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>